{% extends 'edu/base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/edu/salary.css' %}">
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">برای دسترسی باید وارد شوید</legend>
            <label for="username">نام کاربری</label>
                <input type="text" id="username" name="username">
            <label for="password">رمز عبور</label>
                <input type="password" id="password" name="password">
        <div class="form-group">
            <button class="btn btn-primary mt-3" type="submit">ورود</button>
        </div>
    </fieldset>
</form>
{% endblock %}