.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #101010;
   padding:10px;
   color: white;
   text-align: center;
}

.footer > img{
    float:left;
    margin-left: 10px;
}

.footer > p{
    font-size: 25px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {
  height: 100%;
}

.sidenav {
  padding-top: 40px;
  background-color: #f1f1f1;
  height: 100%;
}




@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    height: 100%;
  }

  .row.content {
    height: auto;
  }
}
